[Unit]
Description=Osmocom Mobile Switching Center (MSC)
Wants=nitb-osmo-hlr.service nitb-osmo-mgw.service
After=nitb-osmo-hlr.service

[Service]
Type=simple
ExecStart=/usr/bin/osmo-msc -c /etc/osmocom/osmo-msc.cfg
Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target
