[Unit]
Description=The Osmocom SDR trx (transceiver)
Wants=nitb-osmo-bts-trx.service

[Service]
Type=simple
ExecStart=/usr/bin/osmo-trx-uhd -C /etc/osmocom/osmo-trx.cfg

Restart=always
RestartSec=2

# Use a real time round robin thread scheduling policy to process
# messages quickly enough.
CPUSchedulingPolicy=rr
# Note this a low scheduling priority, 99 is the highest.
CPUSchedulingPriority=55

[Install]
WantedBy=multi-user.target
