[Unit]
Description=Osmocom SGSN (Serving GPRS Support Node)
Wants=nitb-osmo-hlr.service nitb-osmo-ggsn.service
After=nitb-osmo-hlr.service nitb-osmo-ggsn.service
After=nitb-osmo-hnbgw.service

[Service]
Type=simple
Restart=always
ExecStart=/usr/bin/osmo-sgsn -c /etc/osmocom/osmo-sgsn.cfg
RestartSec=2

[Install]
WantedBy=multi-user.target
