[Unit]
Description=Osmocom BSC
Wants=nitb-osmo-mgw.service

[Service]
Type=simple
ExecStart=/usr/bin/osmo-bsc -c /etc/osmocom/osmo-bsc.cfg -s
Restart=always
RestartSec=2

[Install]
WantedBy=multi-user.target
