[Unit]
Description=Osmocom osmo-bts for osmo-trx
Requires=nitb-osmo-trx.service nitb-osmo-bsc.service
After=nitb-osmo-trx.service nitb-osmo-bsc.service


[Service]
Type=simple
ExecStart=/usr/bin/osmo-bts-trx -s -c /etc/osmocom/osmo-bts.cfg
Restart=always
RestartSec=2

# Use a real time round robin thread scheduling policy to process
# messages quickly enough.
CPUSchedulingPolicy=rr
# Note this is the lowest scheduling priority, 99 is the highest.
CPUSchedulingPriority=50

[Install]
WantedBy=multi-user.target
